<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.vanderkooy.ucheck"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="UcheckAndroidMain"
            android:theme="@style/uCheckTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Grades"></activity>
        <activity android:name=".Classes"></activity>
        <activity android:name=".Progress"></activity>
        <activity android:name=".Account"></activity>
        <activity android:name=".Info" android:theme="@style/uCheckTheme"></activity>
        <activity android:name=".Login" android:theme="@style/uCheckTheme"></activity>
    </application>
</manifest>